:80 {
    # Все запросы, начинающиеся с /api, отправляем на бэкенд
    handle_path /api/* {
        reverse_proxy server:8000
    }

    # Всё остальное отправляем на фронтенд (интерфейс)
    handle {
        reverse_proxy ui:80
    }
}